TWITTER1 RCDATA "..\\..\\..\\..\\Downloads\\1491579542-yumminkysocialmedia22_83078.png"
FACEBOOK1 RCDATA "..\\..\\..\\..\\Downloads\\facebook (1).png"
FACEBOOK2 RCDATA "..\\..\\..\\..\\Downloads\\facebook.png"
INSTAGRAM1 RCDATA "..\\..\\..\\..\\Downloads\\instagram (1).png"
INSTAGRAM2 RCDATA "..\\..\\..\\..\\Downloads\\instagram.png"
TWITTER2 RCDATA "..\\..\\..\\..\\Downloads\\social_Twitter_38.png"
